@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manufacturing+Consent&family=Rubik+Wet+Paint&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

/*---------------HEADER-------------------*/
header {
  background-color: #cbc8ff;
  display: flex;
  flex-direction: row;
  height: 88px;
  align-items: center;
  justify-content: center;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
}

.header__logo {
  display: flex;
  justify-content: end;
  width: 200px;
  cursor: pointer;
}

.header__wrap__links {
  padding-left: 10px;
  display: flex;
  align-items: center;
  /*Tool gap apply*/
}

.header__wrap__links a {
  text-decoration: none;
  color: black;
  font-size: 16px;

  i {
    width: 24px;
    height: 24px;
  }

  ;
}

.header__account {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.header__account__lenguage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__account__button {
  border: 1px;
  border-radius: 8px;
  border-style: solid;
  padding: 11px 15px;
  font-weight: bold;
  cursor: pointer;
}

.header__account__img {
  width: 40px;
  height: 24px;
}

.header__account__span {
  font-size: 16px;
  font-weight: bold;
}


/*---------------MAIN-------------------*/
/*---------------SECTION 1-------------------*/
.main__section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cbc8ff;
  text-align: center;
  height: 582px;
  line-height: 1.5;
  letter-spacing: 3px;
}

.main__section1__wrap {
  padding: 100px 45vh 100px 45vh;
  flex-wrap: wrap;
}

.main__section1__wrap {
  display: flex;
  flex-direction: column;
}

.main__section1 h1 {
  font-size: 40px;
  word-spacing: 10px;
}

.section1__titulo__span {
  background-color: #8c85ff;
  color: white;
  border-radius: 10px;
  padding: 5px;
}

.main__section1 h2 {
  font-size: 20px;
}

.main__input {
  position: relative;
  display: inline-block;
}

.main__input__text {
  width: 500px;
  height: 60px;
  border-radius: 5px;
  border-style: none;
  padding: 11px 14px;
  font-size: 15px;
}

input:focus-visible {
  outline: none;
  border-radius: 4px;
}

.main__input__button {
  font-size: 15px;
  color: white;
  background-color: #673de6;
  border-style: none;
  border-radius: 5px;
  width: 162px;
  height: 48px;
  top: 6px;
  left: 58%;
  position: absolute;
  cursor: pointer;
  flex-wrap: wrap;
}




/*---------------SECTION 2-------------------*/
.main__section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1346;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 100px 0 100px 0;
}

.main__section2__cardsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main__section2__card {
  display: flex;
  flex-direction: column;
  background-color: #2f1c6a;
  border-radius: 10px;
  width: 360px;
  height: 280px;
  align-items: center;
  justify-content: center;
}

.main__section2__title {
  font-size: 36px;
}

.main__section2__subtitle {
  font-size: 16px;
}



/*---------------SECTION 3-------------------*/
.main__section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}




/*---------------FOOTER-------------------*/
.footer {
  display: flex;
}





/*---------------TOOLS-------------------*/

.gap35 {
  gap: 35px;
}

.separate {
  margin-bottom: 40px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: Column;
}

.flexCenter {
  justify-content: center;
  align-items: center;
}